/* html, body {
  --primary: yellow;
} */




body {
  font-family: 'signika' !important;
  
  
}

.divider {
  width: 100%;
  height: 1em;
  
}

.img-fixed {
  position: fixed;
  z-index: 999;
  bottom: 5% !important;
  right: 5%;
  width: 4rem;
  cursor: pointer !important;
  background-color: transparent !important;
}

/* Navbar */
.nav {
  border-bottom: 1px solid var(--border-color);
  min-width: 100%;
  background-color: transparent;
}

.nav_title {
  color: rgba(38, 64, 76, 0.67) !important;
  border-bottom: 5px solid transparent !important;
  font-size: 18;
}

.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: transparent !important;
}

.nav_title:hover,
.nav_title:focus {
  border-bottom: 5px solid #1AA9CC !important;
}

.nav__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus {
  background-color:transparent !important;
  border-radius: 5px !important;
  border-width:2px !important;
  color: #1AA9CC !important;
  border-color: #1AA9CC !important;
  /* box-shadow: 0 0 0 0.2rem #FFB82E !important; */
  font-weight: 600;
  font-size: 18px;
  transition: all .2s ease-in-out;
  
}



.btn-primary:hover {
  background-color: #1AA9CC !important;
  border-radius: 5px !important;
  color: white !important;
  border-color: transparent !important;
  /* box-shadow: 0 0 0 0.2rem #FFB82E !important; */
  font-weight: 600;
  font-size: 18px;
  transform: scale(1.2);
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #FFB82E !important;
  border-radius: 5px !important;
  border-color: #FFB82E !important;
  box-shadow: 0 0 0 0.2rem #FFB82E !important;
  font-weight: 600;
  font-size: 24px;

}




/* Section 1 */
.section1 {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 12rem !important;
  overflow: hidden;
  padding-top: 6rem !important;
}
@media only screen and (max-width:768px) {
  .section1 {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 12rem !important;
    overflow: hidden;
    padding-top: 0rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .iframe {
    width: 100%;
    height: 30vh;
  }
}

.background {
  background-image: url('../images/fondo_section1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.section1_img {
  width: 100%;
  transition: all .2s ease-in-out;
}

.section1_img:hover {
  width: 100%;
  transform: scale(1.1);
}

.section1_content_title {
  color: #1AA9CC;
  font-weight: 700;
  font-size: 34px
}

.section1_content_subtitle {
  font-weight: 300;
  font-size: 24px;
}

.section1_content_button {
  width: 40%;
}

/* Section 2 */

.section2 {
  padding-top: 3rem !important;
  padding-bottom: 12em !important;
}

.section2_title {
  color: #1AA9CC;
  font-weight: 600;
  font-size: 34px;
}

.section2_img_card {
  width: 40%;
  align-self: center;
 
}

.moneda {
  width:15%;
}



.card {
  border: none;
  transition: all .2s ease-in-out;
}

.card:hover{
  border: none;
  transform: scale(1.1);

}

.card-title {
  font-weight: 600;
  font-size: 30px;
  
}

.card-text {
  word-wrap: break-word;
  font-weight: 300;
  font-size: 20px;
  text-align: center !important;
}





/* Section 3 */
.iframe {
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  .iframe {
    width: 100%;
    height: 30vh;
  }
}

.container-section3 {
  padding-left: 0px;
  padding-right: 0px;
}

/* Section4 */

.section4 {
  position: relative;
  overflow: hidden;

  padding-top: 10rem !important;
  padding-bottom: 10rem !important;
  /*  background-image:url("../images/fondo.png");
  background-size:cover; */

}

.section4_img {
  width: 10%;
}

.section4_hint {
  position: absolute;
  width: 30%;
}

.section4_content {
  padding-top: 120px;
}

.section4_title {
  font-size: 34px;
  font-weight: 600;
}

.section4_content_title {
  font-weight: 600;
  font-size: 24px;

}

.section4_content_subtitle {
  font-weight: 300;
  font-size: 24px;
}

.container_section4 {
  overflow: hidden;
}

.section4_img {
  position: relative;
  left: 5pc;
  width: 170%;

}

.section4_img_left {
  position: relative;
  right: 1pc;
  width: 80% !important;
}

.card-footer {
  border: none;
  background-color: transparent
}

.modal-content img{
  width: 100%;
  height: auto !important;

}

/* Section5 */
.section5 {
  background-color: #1AA9CC;

}

.section5_title {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
}

.section5_subtitle {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
}

.section5_title2 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
}

.section5_subtitle2 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
}

.section5_subtitle2_span {
  font-weight: 600;
}
.section5_form {
  height: calc(2em + .75rem + 2px);
  border: 1px solid transparent !important;
}
input::-webkit-input-placeholder {
  color: #E5E5E5 !important;
  }
   
  input:-moz-placeholder { /* Firefox 18- */
  color: #E5E5E5 !important;  
  }
   
  input::-moz-placeholder {  /* Firefox 19+ */
  color: #E5E5E5 !important;  
  }
   
  input:-ms-input-placeholder {  
  color: #E5E5E5 !important;  
  }

/* Footer */
.footer {
  background-color: #26404C !important;
  padding: 1rem;
}

/* section_GoodCoin */

.section_GoodCoin {
  margin: 0  0 7rem 0;
}

.section_GoodCoin_img{
  width:100%;
}

.section_GoodCoin_content_title {
  color: #1AA9CC;
  font-weight: 600;
  font-size: 34px;
}

.section_GoodCoin_content_subtitle {
  font-weight: 300;
  font-size: 24px;
}

.section_GoodCoin_content_price {
  color: #26404C;
  font-weight: 600;
  font-size: 24px
}

.footer_p {

  font-weight: 600;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  font-style: normal;
  margin: 0;
}

.footer_p_light {
  font-weight: 300
}

/* .form-control {
  display: block;
  width: 100%;
  height: calc(2.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid transparent !important;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */

